[DATA]

data_directory = ../testdata/F/2022/
stationlist    = ./example/infrastations_all.text
metafile       = ./example/infrastations_all.json
targetfile     = ./example/volcano.json

[PROCESSING]
# days to load
days          = 1
# bandpass filter upper limit [s]
filter_up     = 100
# bandpass filter lower limit [s]
filter_low    = 14400
# in seconds
rms_length    = 150
# in seconds
resampling    = 25
# in seconds
sta_length    = 600
# in seconds
lta_length    = 14400
# on threshold for sta/lta
threshold_on  = 6.0
# off threshold for sta/lta
threshold_off = 1.0
# velocity for semblance map [m/s]
velocity      = 310

[PLOTTING]
# hours of data before origin time
leading_hours = 4
# hourly ticks per day on the x-axis
ticks_per_day = 6
# 0: raw waveform
# 1: rms waveform
# 2: STA/LTA
type          = 0
# theoretical travel times in m/s
# separate multiple velcocities by ','
# leave empty to plot no lines
velocities    = 305,310,315